<button id="moveForward" (mousedown)="forward()" (mouseup)="stop()">forward</button>
<button id="moveBackward" (mousedown)="backward()" (mouseup)="stop()">backward</button>
<button id="turnLeft" (mousedown)="turnLeft()" (mouseup)="stop()">turn left</button>
<button id="turnRight" (mousedown)="turnRight()" (mouseup)="stop()">turn right</button>
<select name="selectSpeed" id="selectSpeed">
    <option value="30">low</option>
    <option value="60">medium</option>
    <option value="80">high</option>
    <option value="100">full speed</option>
</select>
